/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  /* box-sizing: border-box; */
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Header ***********/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 61.09px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  margin-left: 45px;
  width: 63px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
ul li .hebergement:hover,
ul li .activites:hover {
  color: blue;
  border-top: 2px solid blue;
}
@media screen and (max-width: 768px) {
  .menu .hebergement:hover {
    border-bottom: 2px solid blue;
    border-top: none;
  }
  .menu .activites:hover {
    border-bottom: 2px solid blue;
    border-top: none;
  }
}

/****** Recherche ***********/
.description {
  margin-bottom: 30px;
}
.description h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
}
.description p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  color: #000000;
}

/* FORMULAIRE */
form {
  position: relative;
  margin-bottom: 20px;
}
form img {
  width: 14px;
  height: 18px;
  position: absolute;
  left: 21px;
  top: 21px;
}
form .recherche {
  position: relative;
  border: 1px solid wheat;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 50px;
  width: 300px;
}
form input {
  position: absolute;
  left: 50px;
  top: 19px;
  width: 147px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  border: none;
}
form button {
  cursor: pointer;
  position: absolute;
  left: 230px;
  padding: 15px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: blue;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}
form .location {
  position: absolute;
  width: 50px;
  height: 49px;
  left: 0px;
  top: 0px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}
.mobile {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: blue;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  left: 250px;
}
form .mobile img {
  width: 30px;
  display: none;
  position: absolute;
  top: 17px;
  left: 13px;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  form .mobile img {
    display: block;
  }
  button {
    display: none;
  }
}

/* FILTRES */
.filtres {
  display: flex;
}
.filtres .filtre {
  margin-right: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.filtres img {
  width: 9px;
  margin-left: 3px;
}

.filtres span {
  margin-left: 10px;
  margin-top: 7px;
}
.economique label {
  margin-right: 45px;
  margin-top: 7px;
}
.filtres {
  display: flex;
  margin-top: 30px;
}
.economique,
.familial,
.romantique,
.animaux {
  cursor: pointer;
  display: flex;
  padding-right: 65px;
  border: 1px solid #d9d9d9;
  border-radius: 55px;
  margin-right: 10px;
  font-weight: bold;
}
.img_flag,
.img_person,
.img_heart,
.img_dog {
  width: 13.44px;
  height: 22px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  padding: 7px;
}

.filtres label {
  margin-left: 7px;
  margin-top: 7px;
}
.economique:hover,
.familial:hover,
.romantique:hover,
.animaux:hover {
  background-color: blue;
}

@media screen and (max-width: 768px) {
  .filtres {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 13px;
  }
  .filtre {
    margin-bottom: 5px;
    text-align: center;
    text-decoration: underline;
  }
}

/* INFO */
.info {
  margin-top: 35px;
}
.info img {
  width: 16px;
}
.info span {
  padding-left: 15px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  width: 811px;
  height: 26px;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hebergements-cards .card {
  border: 1px solid yellow;
  margin: 0 15px 15px 15px;
}

.hebergements-cards img {
  width: 200px;
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}
.hebergements-cards .card-content {
  margin-left: 6px;
}

.hebergements .card-title {
  margin-bottom: 10px;
}
.hebergements .card-rating {
  margin-top: 0;
}
.hebergements .card-subtitle {
  margin-top: 0;
  margin-bottom: 5px;
}

.hebergements .plus {
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-left: 15px;
  color: #000000;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.card-rating img {
  width: 15px;
  height: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}

/* ...ACTIVITES A MARSEILLE */
#activites .activites {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  padding-right: 25px;
}

.activite1,
.activite2,
.activite3,
.activite4 {
  border-radius: 20px;
  background-color: #fff;
  border: 4px solid whitesmoke;
}
.activites p {
  margin-left: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

#activites h1 {
  margin-top: 55px;
}
#activites img {
  cursor: pointer;
  width: 300px;
  height: 250px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .activites {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* FOOTER */
footer {
  background-color: #f2f2f2;
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
  padding-right: 55px;
  padding-left: 55px;
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nos_hebergements {
    margin-left: 60px;
  }
}
